<!DOCTYPE html>
<html>
    <head>
        <title>STI Stocks Analyses</title>
    </head>

    <body>
        <h1>Search for stocks</h1>
        <form id="search_form" method="post" action={% url 'index' %}>

            {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field }}
                {{ field.errors }}
                {{ field.help_text }}
            {% endfor %}
            <input type="submit" name="search" value="Search" />
        </form>
    </body>
</html>
