{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
<!-- Custom styles for this template -->
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock head %}

{% block navbar_control %}
    <ul class="nav navbar-nav navbar-right">

        <!-- the '/' in front makes it an absolute path -->
        <li><a href="{% url 'dashboard' %}?{{ encoded_query_string}}">Dashboard</a></li>
    </ul>
    <form class="navbar-form navbar-right", method="post",
        action={% url 'search' %}?{{ encoded_query_string}}> 

        {% csrf_token %}
        <input type="text" class="form-control" placeholder="Search...",
            value="{{ searchstr }}",
            name="navbar-search-text",
            id="navbar-search-text">
        <button type="submit" class="btn btn-primary">Go</button>
    </form>
{% endblock %}

{% block body_block %}
<div class="container-fluid">
    <div class="row">
        
        <!-- sidebar stats display -->
        {% if app_sidebar %}
            <div class="col-sm-3 col-md-2 sidebar">
                    {% for app in app_sidebar %}
                        {% if app.template_path %}
                            {% include app.template_path with args=app.args %} 
                        {% endif %}
                    {% endfor %}
            </div>
        {% endif %}

        <!-- main area display -->
        {% if app_main %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {% for app in app_main %}
                        {% if app.template_path %}
                            {% include app.template_path with args=app.args %} 
                        {% endif %}
                    {% endfor %}
            </div>
        {% endif %}

        <!--search area display -->
        <! -- must be a way to specify that either app_main or app_search will
        be active -->
        {% if app_search %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {% for app in app_search %}
                        {% if app.template_path %}
                            {% include app.template_path with args=app.args %} 
                        {% endif %}
                    {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
