<!DOCTYPE html>

{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
<!-- Custom styles for this template -->
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock head %}

{% block body_block %}
<div class="container-fluid">
    <div class="row">
        
        <!-- sidebar stats display -->
        <div class="col-sm-3 col-md-2 sidebar">
            {% if app_sidebar %}
                {% for app in app_sidebar %}
                    {% include app.template_path with args=app.args %} 
                {% endfor %}
            {% endif %}
        </div>

        <!-- main area for displaying individual peices -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% if app_main %}
                {% for app in app_main %}
                    {% include app.template_path with args=app.args %} 
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
