
<!-- Django does not have namespacing for tags -->
{% load dashboard_tags %} 
{% load ticker_tags %} 

<h3 class="sub-header">Searching tickers ...</h3>

<div class="hero-unit">
    <table class="table">
        <thead>
            <th>Symbol</th>
            <th>Name, Industry</th>
            <th>Volume</th>
            <th>Price</th>
            <th>Date</th>
            <th>Time</th>
            <th>Relevancy</th>
            <th>Button</th>
        </thead>
        <tbody>
        {% for result in args.search_results %}
            <tr>
                <td>{{ result.symbol }} </td>
                <td>
                    {% autoescape off %}
                        {{ result.headline }} 
                    {% endautoescape %}
                </td>
                <td> {{ result.quote.Volume}} </td>
                <td> {{ result.quote.LastTradePriceOnly }} </td>
                <td> {{ result.quote.LastTradeDate}} </td>
                <td> {{ result.quote.LastTradeTime}} </td>
                <td> {{ result.relevance }} </td>
                <td>
                    <!-- do something about the color -->
                    <!-- use url_python because cant seem to namespace
                        dashboard from here -->
                    <!-- data-add-query is set to a serialized json -->
                    <button data-sidebar-url="{% url_python "sidebar" %}"
                            data-add-query='{% ticker result.symbol  %}'
                            class='query-add btn btn-mini {{result.watching | yesno:"btn-success,btn-primary"}}' type="button">
                            Watch 
                    </button>  
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
