{% load staticfiles %}
<head>
<link href="{% static 'dimreduce/css/pca-figure-radial.css' %}" rel="stylesheet">
</head>

<body>

{% block body %}

<div id='validity'>
</div>
<div id="pca-visualizer">
    <g id="line-chart"></g>
    <g id="radial-chart"></g>
</div>

<! -- include scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/d3.v3.min.js' %}"></script>
<script src="{% static 'js/colorbrewer.v1.min.js' %}"></script>
<script src="{% static 'js/d3.tip.v0.6.3.js' %}"></script>
<script src="{% static 'dimreduce/js/radialBarChart.js' %}"></script>
<script src="{% static 'dimreduce/js/pcaVisualizer.js' %}"></script>

{% endblock %}
</body>
<!--
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://d3js.org/colorbrewer.v1.min.js" charset="utf-8"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
-->
